.link-bubble {
    position: relative;
    display: inline-block;
    text-align: center;
    
}

.link-bubble a {
    display: block;
    padding: 10px;
    background-color: #ffffff;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;

}
.link-bubble img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.link-bubble a:hover {
    background-color: #FF6347;
}
