.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-right: 60px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    z-index: 1000;
    
  }
.body {
    margin-top: 60px;
    padding: 20px;

}
.video {
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
   
}
.vd{
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;  
   
}
.vd:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.vd img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px 10px 0 0;

}

.vd a {
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    transition: background-color 0.3s;

}

.vd a:hover {
    background-color: #727272;
    color: #ffffff;
}

  

  
  .vd {
    min-width: 27%; 
    box-sizing: border-box;
  }
  
 

.logo img {
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.nav {
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
}


.nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.nav a:hover {
    color: #008080;
}

.link-bubble {
    position: relative;
    display: inline-block;
    text-align: center;
    
}

.link-bubble a {
    display: block;
    padding: 10px;
    background-color: #ffffff;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;

}
.link-bubble img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.link-bubble a:hover {
    background-color: #FF6347;
}