.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  padding-right: 60px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.nav {
  display: flex;
  gap: 2rem;
  padding-right: 2rem;
}


.nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav a:hover {
  color: #008080;
}

.parent-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 70px;
  
}

.banner-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 75%;
  margin: 0 auto;
}

.banner-track {
  display: block;
  transition: transform 0.5s ease;
  width: 400%;
}

.banner-track img {
  width: calc(25% - 10px);
  margin-right: 10px;
  flex-shrink: 0;
  border-radius: 15px;
}

.button-container {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}

.button.prev-button {
  left: 10px;
}

.button.next-button {
  right: 10px;
}

.banner-container:hover .button {
  opacity: 1;
}

.dot-indicators {
  text-align: center;
  padding: 10px 0;
}

.dot-indicators .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot-indicators .dot.active {
  background-color: #333;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}



body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
/* shopee */
.voucher_item {
  border: 1px solid black;
  border-radius: 10px;
  /* max-width: 500px; */
  height: 150px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  display: flex;
  box-shadow: 0 0 10px rgba(7, 7, 7, 0.5);
}

.voucher_item img {
  /* flex: 1; */
  width: 60px;
  height: 60px;
  /* border: 1px solid black; */
}

.voucher_img {
  background-color: #EE4D2D;
  min-width: 120px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px ;
  flex: 1;
}

.voucher_img p {
  color: white;
}

.voucher_content {
  flex: 3;
  display: flex;
  /* gap: 2rem; */
  justify-content: start;
  /* max-height: 15rem; */
  height: 150px;
  justify-content: space-around;
  background-color: aliceblue;
}

.voucher_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 2rem;
  padding-left: 2rem;
}

.voucher_button {
  width: 5rem;
  height: 2.5rem;
  background-color: #EE4D2D;
  color: white;
  font-style: bold;
  border: none;
}

.voucher_detail {
  /* flex: 2; */
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* max-width: 30rem;
  min-width: 20rem; */
  width: 270px;
}

#name1 {
  font-size: 20px;
}

#name2 {
  font-size: 15px;
}

.voucher_info {
  font-size: 15px;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.voucher_name {
  padding-top: 10px;
}

.voucher_info {
  padding-top: 10px;
}

/* lazada */
.voucher_item_laz {

  border: 1px solid black;
  border-radius: 10px;
  /* max-width: 500px; */
  height: 150px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  display: flex;
  box-shadow: 0 0 10px rgba(7, 7, 7, 0.5);
}

.voucher_item_laz img {
  /* flex: 1; */
  width: 60px;
  height: 60px;
  /* border: 1px solid black; */
}

.voucher_img_laz {
  box-shadow: 0 0 10px rgba(7, 7, 7, 0.5);
  background-color: #FFF1F4;
  min-width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  flex: 1;
}

.voucher_img_laz p {
  color: black;
}

.dot_line {
  height: 140px;
  width: 0;
  border-left: 2px dashed black;
  /* background-size: 100% 40px; */
}

.voucher_content_laz {
  flex: 3;
  display: flex;
  /* gap: 2rem; */
  justify-content: center;
  /* max-height: 15rem; */
  height: 150px;
  justify-content: space-around;
  background-color: #FFF1F4;
}

.voucher_btn_laz {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 2rem;
  padding-left: 2rem;
}

.voucher_button_laz {
  width: 90px;
  height: 40px;
  background: linear-gradient(to right, #FE8747, #F93D7D);
  color: rgb(255, 255, 255);
  font-style: bold;
  border: none;
  border-radius: 50px;
  /* border: 1px solid black; */
}

.voucher_detail_laz {
  /* flex: 2; */
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* max-width: 30rem;
  min-width: 20rem; */
  width: 270px;
}

#name1_laz {
  font-size: 20px;
  color: #0100B7;
}

#name2_laz {
  font-size: 15px;
  color: #008080;
}

.voucher_name_laz {
  padding-top: 10px;
}


.list_voucher {
  display: flex;
  flex: 1;
  /* flex-direction: column; */
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 100%; */
  padding: 20px;
  border: 1px solid black;
  min-width: 700px;
  max-width: 1500px;
}
/* Footer */
footer {
  background-color: #b95502;
  color: white;
  padding: 40px 20px;
  text-align: center;
  /* width: 100%; */
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
}

.footer-logo img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.footer-contact, .footer-links {
  margin: 20px 0;
  text-align: left;
  width: 100%;
  max-width: 300px;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 5px 0;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.footer-bottom p {
  margin: 5px 0;
}

/* Responsive Design */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

  .footer-contact, .footer-links {
    text-align: left;
    margin: 0;
  }
/* back to top */
.stt {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 37px;
  height: 37px;
  padding: 5px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out
}

.stt:hover {
  opacity: 1
}

.stt__active {
  visibility: visible;
  opacity: .5
}

.stt__block_black {
  background-color: #000;
  border-radius: 5%
}

.stt__block_black:before {
  position: absolute;
  top: 50%;
  left: 40%;
  display: block;
  width: 20px;
  height: 5px;
  content: "";
  background-color: #fff;
  -webkit-transform: translate(0, -50%) rotate(45deg);
  -ms-transform: translate(0, -50%) rotate(45deg);
  transform: translate(0, -50%) rotate(45deg)
}

.stt__block_black:after {
  position: absolute;
  top: 50%;
  right: 40%;
  display: block;
  width: 20px;
  height: 5px;
  content: "";
  background-color: #fff;
  -webkit-transform: translate(0, -50%) rotate(-45deg);
  -ms-transform: translate(0, -50%) rotate(-45deg);
  transform: translate(0, -50%) rotate(-45deg)
}

.stt__circle__black {
  background-color: #000;
  border-radius: 50%
}

.stt__circle__black:before {
  position: absolute;
  top: 50%;
  left: 40%;
  display: block;
  width: 20px;
  height: 5px;
  content: "";
  background-color: #fff;
  -webkit-transform: translate(0, -50%) rotate(45deg);
  -ms-transform: translate(0, -50%) rotate(45deg);
  transform: translate(0, -50%) rotate(45deg)
}

.stt__circle__black:after {
  position: absolute;
  top: 50%;
  right: 40%;
  display: block;
  width: 20px;
  height: 5px;
  content: "";
  background-color: #fff;
  -webkit-transform: translate(0, -50%) rotate(-45deg);
  -ms-transform: translate(0, -50%) rotate(-45deg);
  transform: translate(0, -50%) rotate(-45deg)
}

.stt__emoji {
  border-radius: 50%;
  opacity: 1
}

.stt__emoji:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 36px;
  content: "\1F446"
}

/* dashboard */
.dashboard {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
}

/* menu_voucher */
.menu_voucher {
  /* flex:1; */
  /* border: 1px solid black; */
  /* min-width: 200px;*/
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px
  }

#menuList{
  width: 150px;
  height: 60px;
  border: 1px solid black;
  border-radius: 60px; 
  font-size: 20px;
  color: black;
}

#menuList img{
  width: 50px;
  height: 50px;
  padding-right: 5px;
  padding-top: 5px;
  
}

.list_shopee{
  display: flex;
  /* background-color: #FF9900; */
  align-items: center;
  justify-content: center;
}

.list_lazada{
  /* background-color: #FF9900; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Loading */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}

.loader::before {
  border-color: #f03355 #0000;
  animation: inherit;
  animation-duration: .5s;
  animation-direction: reverse;
}

.loader::after {
  margin: 8px;
}

@keyframes l16 {
  100% {
    transform: rotate(1turn)
  }
}