.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-left: 20px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav a:hover {
  color: green;
}

.parent-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.banner-container {
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.banner-track {
  display: block;
  transition: transform 0.5s ease;
}

.banner-track img {
  width: calc(25% - 10px);
  margin-right: 10px;
  flex-shrink: 0;
}

.button-container {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  transform: translateY(-50%);
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}



body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.voucher_item {
  border: 1px solid black;
  border-radius: 10px;
  max-width: 50rem;
  height: 10rem;
  min-width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

}

.voucher_item img {
  /* flex: 1; */
  width: 90px;
  height: 90px;
  /* border: 1px solid black; */
}

.voucher_img {
  background-color: #EE4D2D;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem
}

.voucher_img p {
  color: white;
}

.voucher_content {
  flex: 3;
  display: flex;
  /* gap: 2rem; */
  justify-content: start;
  /* max-height: 15rem; */
  height: 12rem;
  justify-content: space-around;
  background-color: aliceblue;
}

.voucher_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 2rem;
  padding-left: 2rem;
}

.voucher_button {
  width: 5rem;
  height: 2.5rem;
  background-color: #EE4D2D;
  color: white;
  font-style: bold;
  border: none;
}

.voucher_detail {
  flex: 2;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 30rem;
  min-width: 20rem;
}

#name1 {
  font-size: 20px;
}

#name2 {
  font-size: 15px;
}

.voucher_info {
  font-size: 15px;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.voucher_name {
  padding-top: 10px;
}

.voucher_info {
  padding-top: 10px;
}

.dashboard {
  display: flex;
  /* flex-direction: column; */
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 100%; */
  padding: 2rem;
  border: 1px solid black;
  min-width: 60rem;
}



/* footer */
footer {
  background-color: #b95502;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin: 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;

}

.footer-logo {
  text-align: center;
}

.footer-logo img {
  width: 50px;
}

.footer-contact,
.footer-links {
  margin-top: 20px;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin: 5px 0;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  font-size: 12px;
}

.footer-bottom p {
  margin: 5px 0;
}