body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px; 
  margin-right: 10px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-left: 20px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav a:hover {
  color: green;
}

.parent-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.banner-container {
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.banner-track {
  display: flex;
  transition: transform 0.5s ease;
}

.banner-track img {
  width: calc(25% - 10px); 
  margin-right: 10px; 
  flex-shrink: 0;
}

.button-container {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}


  @keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
  }

.under-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
}
.under-head a {
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.under-head a:hover {
  background-color: #ccc;
  color: #fff;
}
.board{
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  justify-content: center;
}
.mgg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  align-items: center;

}
.voucher-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0f0000;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.voucher-main img {
  width: 100px; 
    height: auto; 
    border-radius: 50%; 
    border: 2px solid #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.action-voucher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-voucher progress {
  width: 100%;
  height: 20px;
}

.btn{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #45a049;
}