html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}

main {
  flex: 1;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  padding-right: 60px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.nav {
  display: flex;
  gap: 2rem;
  padding-right: 2rem;
}


.nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav a:hover {
  color: #008080;
}

.parent-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 60px;
}

.banner-container {
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.banner-track {
  display: block;
  transition: transform 0.5s ease;
}

.banner-track img {
  width: calc(25% - 10px);
  margin-right: 10px;
  flex-shrink: 0;
  border-radius: 15px;
}

.banner-track img {
  width: calc(25% - 10px);
  margin-right: 10px;
  flex-shrink: 0;
  border-radius: 15px; 
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}

.banner-container:hover .button {
  opacity: 1;
}

.button.prev-button {
  left: 10px;
}

.button.next-button {
  right: 10px;
}

.dot-indicators {
  text-align: center;
  padding: 10px 0;
}

.dot-indicators .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot-indicators .dot.active {
  background-color: #333;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.under-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
}

.under-head a {
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.under-head a:hover {
  background-color: #ccc;
  color: #fff;
}

.board {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  justify-content: center;
}

.mgg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  align-items: center;

}

.voucher-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0f0000;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.voucher-main img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.action-voucher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-voucher progress {
  width: 100%;
  height: 20px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}

/* chọn coupon */
.coupon-section {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.section-title::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #e60012;
 
  margin: 8px auto 0;
}

.coupon-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.coupon-card {
  display: block;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.coupon-card img {
  width: 100%;
  border-radius: 10px;
}

.coupon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.lazada {
  background-color: #4a00e0;
}

.shopee {
  background-color: #ff4500;
}

/* câu hỏi */
.faq-section {
  padding: 20px;
  background-color: #f8f8f8;
  max-width: 1000px;
  margin: 0 auto;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  /* text-align: left; */
  color: #333;
}

.faq-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.faq-item {
  display: block;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: calc(50% - 20px);
  text-align: left;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  text-decoration: none;
}

.faq-item p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.faq-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
  background-color: #b95502;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
}

.footer-logo img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.footer-contact, .footer-links {
  margin: 20px 0;
  text-align: left;
  width: 100%;
  max-width: 300px;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 5px 0;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.footer-bottom p {
  margin: 5px 0;
}

/* Responsive Design */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-contact, .footer-links {
    text-align: left;
    margin: 0;
  }
}

/* back to top */
.stt {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 37px;
  height: 37px;
  padding: 5px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out
}

.stt:hover {
  opacity: 1
}

.stt__active {
  visibility: visible;
  opacity: .5
}

.stt__block_black {
  background-color: #000;
  border-radius: 5%
}

.stt__block_black:before {
  position: absolute;
  top: 50%;
  left: 40%;
  display: block;
  width: 20px;
  height: 5px;
  content: "";
  background-color: #fff;
  -webkit-transform: translate(0, -50%) rotate(45deg);
  -ms-transform: translate(0, -50%) rotate(45deg);
  transform: translate(0, -50%) rotate(45deg)
}

.stt__block_black:after {
  position: absolute;
  top: 50%;
  right: 40%;
  display: block;
  width: 20px;
  height: 5px;
  content: "";
  background-color: #fff;
  -webkit-transform: translate(0, -50%) rotate(-45deg);
  -ms-transform: translate(0, -50%) rotate(-45deg);
  transform: translate(0, -50%) rotate(-45deg)
}

.stt__circle__black {
  background-color: #000;
  border-radius: 50%
}

.stt__circle__black:before {
  position: absolute;
  top: 50%;
  left: 40%;
  display: block;
  width: 20px;
  height: 5px;
  content: "";
  background-color: #fff;
  -webkit-transform: translate(0, -50%) rotate(45deg);
  -ms-transform: translate(0, -50%) rotate(45deg);
  transform: translate(0, -50%) rotate(45deg)
}

.stt__circle__black:after {
  position: absolute;
  top: 50%;
  right: 40%;
  display: block;
  width: 20px;
  height: 5px;
  content: "";
  background-color: #fff;
  -webkit-transform: translate(0, -50%) rotate(-45deg);
  -ms-transform: translate(0, -50%) rotate(-45deg);
  transform: translate(0, -50%) rotate(-45deg)
}

.stt__emoji {
  border-radius: 50%;
  opacity: 1
}

.stt__emoji:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 36px;
  content: "\1F446"
}


/* rcm product */

.item_shopee {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(7, 7, 7, 0.5);
}

.detail_prd p {
  margin: 0;
}

.img_prd {
  position: relative;
}

.sale_off {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;


}

.sale_off p {
  text-align: center;
  background-color: red;
  color: rgb(255, 255, 255);
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(7, 7, 7, 0.5);
}

.img_prd img {
  width: 250px;
  height: 250px;
  /* border-bottom: 1px solid black; */
}

.namePrd {
  margin: 5px;
  font-size: 15px;
  color: black;
  padding-left: 10px;
  /* text-align: center; */
}

.namePrd a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#price {
  margin: 0;
}

.price {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.price p {
  font-size: 15px;
  color: red;
  margin: 0;
  font-weight: bold;
}

.rcm_prd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rcm_dash{
      display: flex;
      flex: 1;
      row-gap: 30px;
      column-gap: 20px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px;
      /* border: 1px solid black; */
      min-width: 1000px;
      max-width: 1200px;
      max-height: 100%;
      overflow: hidden;
      transition: max-height 0.5s ease;
}

/* loading */

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}

.loader::before {
  border-color: #f03355 #0000;
  animation: inherit;
  animation-duration: .5s;
  animation-direction: reverse;
}

.loader::after {
  margin: 8px;
}

@keyframes l16 {
  100% {
    transform: rotate(1turn)
  }
}