body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: sticky;
         top: 0;
         z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px; 
  margin-right: 10px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-left: 20px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav a:hover {
  color: green;
}

.parent-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.banner-container {
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.banner-track {
  display: block;
  transition: transform 0.5s ease;
}

.banner-track img {
  width: calc(25% - 10px); 
  margin-right: 10px; 
  flex-shrink: 0;
}

.button-container {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}


  @keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
  }



